.backButton {
  margin-top: 20px;
}

.movieDetails {
  display: flex;
  margin-top: 20px;
}

.moviePoster {
  flex: 0 0 30%;
}

.moviePoster img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movieInfo {
  flex: 0 0 70%;
  padding-left: 20px;
}

.additionalInfo {
  display: flex;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-bottom: 20px;
}

.infoLink {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

.infoLink:hover {
  color: #000;
  font-weight: bold;
}

.activeLink {
  color: #000;
  font-weight: bold;
}
